* {
  margin: 0;
}
body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.container {
  max-width: 85vw;
  display: grid;
  gap: 1rem;
}
.container div {
  border-radius: 0.4rem;
  overflow: hidden;
  line-height: 0.9;
  letter-spacing: -1px;
}
.container div:nth-child(1) {
  grid-area: one;
  background-color: var(--color-Purple-500);
  color: var(--color-White);
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}
.container div:nth-child(1) h1 {
  font-size: 2rem;
  line-height: 2rem;
}
.container div:nth-child(1) h1 span {
  color: var(--color-Yellow-500);
}
.container div:nth-child(1) img {
  width: 7rem;
}
.container div:nth-child(1) p {
  font-size: 0.7rem;
}
.container div:nth-child(2) {
  grid-area: two;
}
.container div:nth-child(2) img {
  width: 15rem;
}
.container div:nth-child(3) {
  grid-area: three;
  background-color: var(--color-Yellow-500);
  padding: 1rem;
}
.container div:nth-child(3) img {
  width: stretch;
  object-fit: cover;
  margin-top: 0.5rem;
}
.container div:nth-child(4) {
  grid-area: four;
  background-color: var(--color-Purple-100);
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
}
.container div:nth-child(4) h1 {
  font-size: 25px;
}
.container div:nth-child(4) img {
  width: 230px;
}
.container div:nth-child(5) {
  grid-area: five;
  background-color: var(--color-Purple-500);
  color: var(--color-White);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 1rem;
  gap: 1rem;
}
.container div:nth-child(5) img {
  width: 100%;
}
.container div:nth-child(5) h1 {
  margin-block: auto;
  font-size: 30px;
}
.container div:nth-child(6) {
  grid-area: six;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-block: 0.5rem;
}
.container div:nth-child(6) h1 {
  font-size: 50px;
}
.container div:nth-child(6) p {
  margin-block: auto;
}
.container div:nth-child(6) img {
  width: 150px;
}
.container div:nth-child(7) {
  grid-area: seven;
  background-color: var(--color-Yellow-100);
  padding: 1.5rem;
}
.container div:nth-child(7) h1 span {
  font-style: italic;
  color: var(--color-Purple-500);
}
.container div:nth-child(7) img {
  width: 100%;
  margin-top: 1rem;
}
.container div:nth-child(8) {
  grid-area: eight;
  background-color: var(--color-Yellow-500);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container div:nth-child(8) img {
  width: 100%;
}
.container div h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.container div p {
  font-size: 1rem;
  font-weight: 400;
}
.container div img {
  width: 3rem;
}
